<div class="main-container container-fluid bg-info">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="row mb-2" style="justify-content: center;">
          <img
            src="../../faucet.ico"
            width="60"
            height="60"
            alt=""
            style="margin-right: 15px;"
          />
          <h2 class="text-center text-black mt-2 mb-2">Smart Water</h2>
        </div>
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card rounded-0">
              <div class="card-header">
                <h3 class="mb-0">Login</h3>
              </div>
              <div class="card-body">
                <div
                  *ngIf="showErrorMessage"
                  class="alert-danger alert-message"
                >
                  Usuário ou senha incorretos. Tente novamente.
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="username"
                      name="username"
                      id="username"
                      placeholder="Usuário"
                      required
                    />
                    <div
                      *ngIf="
                        username.invalid && (username.dirty || username.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="username.errors.required">
                        Usuário é obrigatório.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      formControlName="password"
                      name="password"
                      id="password"
                      placeholder="Senha"
                      required
                    />
                    <div
                      *ngIf="
                        password.invalid && (password.dirty || password.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="password.errors.required">
                        Senha é obrigatória.
                      </div>
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-success btn-lg float-right"
                    id="btnLogin"
                    [disabled]="!loginForm.valid || loading"
                  >
                    Login
                  </button>
                  <img
                    *ngIf="loading"
                    class="loading"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
